/* WERK HIER NIET IN!! */

/* Gebruik var(--kleurnaam) om een van deze kleuren te pakken, gebruik geen eigen kleuren! */
:root {
    --background: #929292;
    --textcolor: #b8b8b8;
    --darkaccent: #161616;
    --lightaccent: #b8b8b8;
}

body {
    background: var(--background);
    overflow-x: hidden;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#gridbox {
    width: 100%;
    height: 90vh;
    z-index: 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'maincontent maincontent'
        'footer footer';
}

#gridbox>div {
    z-index: 1;
}

#header {
    background-color: var(--darkaccent);
    top: 0;
    position: sticky;
    z-index: 2;
    height: 150px;
}

a:link {
    color: var(--textcolor);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: var(--textcolor);
    background-color: transparent;
    text-decoration: none;
}

#nav {
    color: var(--textcolor);
    text-align: right;
    margin-top: 0;
    display: inline-block;
    float: right;
    margin-right: 50px;
}


#nav>ul>li {
    list-style-type: none;
    display: inline-block;
    padding: 5px 25px;
    position: relative;
    border-radius: 5px;
    margin-right: 20px;
}

#nav>ul>li:hover {
    background-color: var(--lightaccent);
    transform: scale(1.10);
    transition: 0.3s;
}

ul#sub {
    position: absolute;
    background-color: var(--darkaccent);
    list-style-type: none;
    width: 125px;
    padding-left: 0px;
    margin-left: -25px;
    padding-top: 5px;
    opacity: 0;
    transform: scale(1.05);
    transition: 0.3s;
    border-radius: 5px;
    text-align: left;
}

ul#sub li {
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#nav li:hover #sub {
    opacity: 1;
}

ul#sub li:hover {
    color: var(--textcolor);
    background-color: var(--darkaccent);
    border-radius: 5px;
}

#maincontent {
    background-color: var(--background);
    margin: 1em;
    grid-area: maincontent;
    height: 700px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

#footer {
    color: var(--textcolor);
    position: absolute;
    background-color: var(--darkaccent);
    grid-area: footer;
    bottom: 0;
    width: 100%;
}

#informatie {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#social {
    width: 5%;
}

#social:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

#logo {
    max-height: 140px;
    margin: 5px;
    margin-left: 20px;
}

#tekst {
    text-align: center;
}