#cart-wrap {
    font-family: arial, sans-serif;
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
}

#cart-products, #cart-items {
    box-sizing: border-box;
    padding: 10px;
}

#cart-products {
    width: 70%;
}

#cart-items {
    width: 30%;
}

input.cart, button.cart {
    padding: 10px;
    border: 0;
    background: var(--darkaccent);
    color: var(--textcolor);
    font-weight: 700;
    cursor: pointer;
}

#cart-products {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.p-item {
    display: block;
    padding: 10px;
    border: 3px solid var(--lightaccent);
    border-radius: 5px;
    text-align: center;
    max-height: 300px;
}

.p-img {
    height: 60%;
}

.p-name, .p-price {
    font-weight: 700;
}

.p-name, .p-desc, .p-price {
    margin: 5px 0;
}

.p-name {
    text-transform: uppercase;
}

.p-desc {
    color: var(--darkaccent);
    font-size: 0.9em;
}

.p-price {
    font-size: 1.35em;
}

input.p-add {
    width: 70%;
}

#cart-items {
    background: var(--lightaccent);
    color: var(--darkaccent);
    border-radius: 5px;
}

.c-item {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
}

.c-item>* {
    box-sizing: border-box;
}

.c-name, .c-total, input.c-empty, input.c-checkout {
    width: 100%;
}

.c-total, input.c-empty, input.c-checkout {
    margin-top: 10px;
}

.c-del {
    width: 25%;
}

.c-qty {
    width: 75%;
}

.c-total {
    font-weight: 700;
    font-size: 1.2em;
}

@media screen AND (max-width: 768px) {
    #cart-wrap {
        grid-template-columns: 60% 40%;
    }

    #cart-products {
        grid-template-columns: auto;
    }
}